* {
    box-sizing: border-box;
}

@font-face {
    font-family: NorseBold;
    src: url("fonts/Norse-Bold.otf") format("opentype");
}

@font-face {
    font-family: Poppins;
    src: url("fonts/Poppins-Regular.ttf") format("opentype");
}


:root {
    --background-black: #121212;
}

body {
    margin: 0;
    padding: 0;
}

.content {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-black);
}

.bg-image {
    width: 40vw;
    height: 100%;
    background-image: url(./images/lisa-gageler-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}